{% extends "mysite/wrapper.html" %}

{% block title %} Контакты {% endblock %}
{% load staticfiles %}
{% block body %}
   <div class="advantages_containter">
       <div class="advantages">
           <div class="advantages_item">
                <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2157.503148517256!2d60.093652!3d57.265139!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6ebfbbbf36c387b8!2z0J7QntCeIMKr0J3Qn9CeIMKr0KbQtdC90YLRgNC-0YLQtdGFwrs!5e0!3m2!1sru!2sru!4v1523603190290" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
           </div>
           <div class="advantages_item">
               <h4>НПО «Центротех» г. Новоуральск</h4><h5><b>Адрес</b></h5><p>624130, Свердловская область, г. Новоуральск, ул. Дзержинского 2</p><h5><b>Телефон</b></h5><p>8(343)705-40-45 доб. 1005</p><h5><b>E-MAIL</b></h5><p>adm@ugcmp.ru</p>
           </div>
       </div>
   </div>
{% endblock %}