{% extends "mysite/wrapper.html" %}

{% block title %} Главная страница {% endblock %}
{% load staticfiles %}
{% block body %}
    <div class="advantages__containter">
        <div class="advantage">
            <div class="advantages__item">
                <h6><b>Кто мы</b></h6>
                <h4><b>О ПРЕДПРИЯТИИ</b></h4>
                <img src="{% static 'mysite/image/aboutus1.jpg' %}" width="440">
                <p>Научно-производственное объединение «Центротех» входит в контур управления Топливной компании «ТВЭЛ» Госкорпорации «Росатом»
                    За последние годы наше предприятие вошло в число лучших промышленных и машиностроительных заводов нового типа. Технический парк завода оснащен самым современным, универсальным и высокоточным оборудованием для удовлетворения широкого спектра потребностей промышленности в целом.</p>
                </div>
            <div class="advantages__item">
                <h6><b>Почему выбирают нас</b></h6>
                <h4><b>НАШИ ПРЕИМУЩЕСТВА</b></h4>
                <div class="advantage_dop">
                    <img src="{% static 'mysite/image/33_atom_energy_64-2.png' %}" width="58" height="64"><h5>УНИКАЛЬНЫЕ КОМПЕТЕНЦИИ</h5>
                    <p>Уникальные компетенции в атомной, военной, авиакосмической, нефтегазовой и приборостроительной отраслях</p>
                </div>
                <div class="advantage_dop">
                    <img src="{% static 'mysite/image/18_3d_modeling_64-2.png' %}" width="58" height="64"><h5>ИННОВАЦИОННАЯ ПРОДУКЦИЯ</h5>
                    <p>Наше предприятие сфокусировано на производстве уникальной и инновационной продукции</p>
                </div>
                <div class="advantage_dop">
                    <img src="{% static 'mysite/image/32_project_engineer_64-2.png' %}" width="58" height="64"><h5>ПОЛНЫЙ КОМПЛЕКС УСЛУГ</h5>
                    <p>Мы оказываем полный комплекс услуг, начиная от технического аудита, заканчивая гарантийным и сервисным обслуживанием</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}